.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.image-card {
  background-image: url("../../assets/images/hm.jpg");
  background-size: cover;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  bottom: 16px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  /*text-align: center;*/
  word-break: break-word;
}
