<div class="grid-container">
  <div class="leftGrid">
    <mat-card class="dashboard-card">
      <mat-card-content>
        <img src="/assets/images/hm.jpg" width="100%">
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="text-align: justify-all">
          A tech enthusiast and a lifelong learner. Programming and coding are my passion and enthusiasm that drives me
          and my career. In addition to engineering software, I enjoy science, exploring new places, watching cricket,
          trying different food, working with gadgets, and drinking Chai.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <ul *ngFor="let line of summary">
          <li>{{line}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
